/*
selector{
    propiedad:valor;
    propiedad:valor;
    propiedad:valor;
}

*/

/*Así se ponen comentarios*/


body{
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0%;
}

.banner-perro{
    width: 100%;
}
.logo-perro{
    height: 250px;
}
.filosofia{
    height: 250px;
}
p{
color: darkolivegreen;
}

/*EL punto se usa para poder llamar a una clase de mi HTML e identificar un elemento*/
.p-méxico{
    color: rgb(116, 93, 93);
}

.main-title{
    color: rgba(235, 195, 143, 0.725) ;
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
    /* Modificas aquí la altura si quieres hacelo más grande /chico  (auto/100px) */
    height: auto;
}
/*div felxible para moverse con los elementos dentro de si como texto*/
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saludo{
    font-family: 'DM Serif Display', serif; 
    font-size: 25px ;
    align-items: center;
    justify-content: center;
    display: flex;
    color: darkolivegreen;
    background-color: rgba(216, 167, 102, 0.725);
    height: 60px;
}

a{
    color: darkolivegreen;
    /*Linea debajo de la ancla (o sea el menu)*/
    text-decoration: none;
    font-size: 20px;
    display:inline-flex;
    justify-content:center;
    justify-content: space-between;
    margin: 40px;
    align-items: center;
}

.frase{
    color: seagreen;
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asociacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(216, 167, 102, 0.725);
}

.asociaciones a{
    display: flex;
    flex-direction: column;
    align-items: center;
}